{{ form_start(form) }}
<div class="mt-4">
    {{ form_label(form.weight) }}
    {{ form_widget(form.weight) }}
</div>
<div class="mt-4">
    {{ form_label(form.limitUp) }}
    {{ form_widget(form.limitUp) }}
</div>
    <div class="mt-4">
    {{ form_label(form.limitDown) }}
    {{ form_widget(form.limitDown) }}
</div>

<button class="btn btn-outline-primary mt-5">{{ button_label|default('Modifier !') }}</button>

{{ form_end(form) }}
