{{ form_start(form) }}
<div class="d-flex justify-content-around new-form">
    <div>
        <p class="d-inline"><i class="fas fa-child mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.surname, {'attr': {'class': 'width ml-1'}}) }}
    </div>
    <div>
        <p class="d-inline"><i class="fas fa-child mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.firstName, {'attr': {'class': 'width ml-1'}}) }}
    </div>
</div>
<div class="mt-4 d-flex justify-content-around">
    <div>
        <p class="d-inline"><i class="fas fa-birthday-cake mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.birthday, {'attr': {'class': 'width ml-3'}}) }}
    </div>
    <div>
        <p class="d-inline"><i class="fas fa-weight mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.weight, {'attr': {'class': 'width ml-3'}}) }}
    </div>
</div>
<div class="mt-4 d-flex justify-content-around">
    <div>
        <p class="d-inline"><i class="fas fa-chart-line mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.limitDown, {'attr': {'class': 'width ml-3'}}) }}
    </div>
    <div>
        <p class="d-inline"><i class="fas fa-chart-line mr-2 loopy-color-darken"></i></p>
        {{ form_widget(form.limitUp, {'attr': {'class': 'width ml-3'}}) }}
    </div>
</div>
{{ form_widget(form.email, {'attr': {'hidden' : 'hidden', 'value' : 'toto@loopy.fr'}}) }}
<button class="btn btn-primary mt-4" title="cliquez pour ajouter">{{ button_label|default('Ajouter !') }}</button>
{{ form_end(form) }}
