{{ form_start(form) }}
    <div class="d-flex justify-content-around">
        <div>
            <i class="fas fa-child mr-2 loopy-color-darken"></i>
            {{ form_widget(form.surname, {'attr': {'class': 'width'}}) }}
        </div>
        <div>
            <i class="fas fa-child mr-2 loopy-color-darken"></i>
            {{ form_widget(form.firstName, {'attr': {'class': 'width'}}) }}
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-around">
        <div>
            <i class="fas fa-birthday-cake mr-2 loopy-color-darken"></i>
            {{ form_widget(form.birthday, {'attr': {'class': 'width'}}) }}
        </div>
        <div>
            <i class="fas fa-weight mr-2 loopy-color-darken"></i>
            {{ form_widget(form.weight, {'attr': {'class': 'width'}}) }}
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-around">
        <div>
            <i class="fas fa-chart-line mr-2 loopy-color-darken"></i>
            {{ form_widget(form.limitDown, {'attr': {'class': 'width'}}) }}
        </div>
        <div>
            <i class="fas fa-chart-line mr-2 loopy-color-darken"></i>
            {{ form_widget(form.limitUp, {'attr': {'class': 'width'}}) }}
        </div>
    </div>
    {{ form_widget(form.email, {'attr': {'hidden' : 'hidden', 'value' : 'toto@loopy.fr'}}) }}
    <button class="btn btn-primary mt-4">{{ button_label|default('Ajouter !') }}</button>
{{ form_end(form) }}
