{% extends 'base.html.twig' %}

{% block title %}{{ choosenPatient.firstName| capitalize ~ ' ' ~ choosenPatient.surname |upper }}{% endblock %}

{% block body %}
    <input type="hidden" id="PatientId" data-id="{{ choosenPatient.id }}">
    <div class="font-oswald">
        <div class="d-flex">

            <div class="col-9 pt-5 bg-light-grey">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} text-center container mt-5">
                            {{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column justify-content-around">
                        <h3 class="d-flex align-items-center"><span class="show-icon bg-white text-center mr-3 shadow"><i class="fas fa-user-injured "></i></span> {{ choosenPatient.firstName| capitalize ~ ' ' ~ choosenPatient.surname | upper }}</h3>
                        <h4 class="font-weight-lighter d-flex align-items-center"><span class="show-icon bg-white text-center mr-3 shadow"><i class="fas fa-birthday-cake pt-1"></i></span>{{ choosenPatient.birthday | date ('d/m/Y') }} - {{ choosenPatient.age }} ans</h4>
                        <h4 class="font-weight-lighter d-flex align-items-center"><span class="show-icon bg-white text-center mr-3 shadow"><i class="fas fa-virus pt-1"></i></span> Diabète Insulino Dépendant</h4>
                    </div>
                    {{ include('/doctor/patient/_edit_limit_form.html.twig') }}
                </div>
                <hr>
                <h2 class="text-center mt-5">Glycémie sur une semaine</h2>
                <div class="canvas">
                    <canvas id="glycemia"></canvas>
                </div>
            </div>

            <div class="col-3 overflow">
                {% include '/doctor/components/_patient_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('glycemia') }}
{% endblock %}
