{% extends 'base.html.twig' %}

{% block title %} Loopy | {{ choosenPatient.firstName| capitalize ~ ' ' ~ choosenPatient.surname |upper }}{% endblock %}

{% block body %}
    <input type="hidden" id="PatientId" data-id="{{ choosenPatient.id }}">
    <div class="font-oswald">
        <div class="d-flex">

            <div class="col-9 pt-5 bg-light-grey overflow">
                {% for category, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ category }} text-center container mt-5">
                            {{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column justify-content-around">
                        <h3 class="d-flex align-items-center"><span
                                    class="show-icon bg-white text-center mr-3 shadow"><i
                                        class="fas fa-user-injured "></i></span> {{ choosenPatient.firstName| capitalize ~ ' ' ~ choosenPatient.surname | upper }}
                        </h3>
                        <h4 class="font-weight-lighter d-flex align-items-center"><span
                                    class="show-icon bg-white text-center mr-3 shadow"><i
                                        class="fas fa-birthday-cake pt-1"></i></span>{{ choosenPatient.birthday | date ('d/m/Y') }}
                            - {{ choosenPatient.age }} ans</h4>
                        <h4 class="font-weight-lighter d-flex align-items-center"><span
                                    class="show-icon bg-white text-center mr-3 shadow"><i class="fas fa-virus pt-1"></i></span>
                            Diabète Insulino Dépendant</h4>
                    </div>
                    {{ include('/doctor/patient/_edit_limit_form.html.twig') }}
                </div>

                {% if choosenPatient.dadSurname or choosenPatient.momSurname %}
                    <hr>

                    <div class="d-flex justify-content-center">
                        <a class="d-flex flex-column align-items-center text-blue" id="toggle1" data-toggle="collapse"
                           href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" title="Cliquer pour afficher">
                            <p class="mb-0">Parents</p>
                            <p class="mb-0 mt-neg" id="i1"><i class="fas fa-caret-down"></i></p>
                        </a>
                        <a class="d-flex flex-column align-items-center ml-5 text-blue" id="toggle2"
                           data-toggle="collapse"
                           href="#collapseEmail" role="button" aria-expanded="false" title="Cliquer pour afficher" aria-controls="collapseExample">
                            <p class="mb-0">Envoyer un email</p>
                            <p class="mb-0 mt-neg" id="i2"><i class="fas fa-caret-down"></i></p>
                        </a>
                    </div>

                    <div class="collapse" id="collapseExample">
                        {% if choosenPatient.dadSurname %}
                        <div class="d-flex justify-content-around container">
                            <div class="card parent-card bck-grey" style="width: 18rem;">
                                <div class="card-body">
                                    <h2 class="card-subtitle mb-2 text-muted">Père</h2>
                                    <h5 class="card-title">{{ choosenPatient.dadFullName }}</h5>
                                    <p class="card-text">Téléphone : {{ choosenPatient.dadFormattedPhoneNumber }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% if choosenPatient.momSurname %}
                                <div class="card parent-card bck-grey" style="width: 18rem;">
                                    <div class="card-body">
                                        <h3 class="card-subtitle mb-2 text-muted">Mère</h3>
                                        <h5 class="card-title">{{ choosenPatient.momFullName }}</h5>
                                        <p class="card-text">Téléphone
                                            : {{ choosenPatient.momFormattedPhoneNumber }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="collapse" id="collapseEmail">
                    <div class="d-flex justify-content-center">
                        <form action="{{ path('doctor_email') }}" method="post" enctype="multipart/form-data">
                            <div>
                                <label for="subject"></label>
                                <input type="text" id="subject" name="subject" class="w-100 pl-1 rounded"
                                       placeholder="Objet">
                            </div>
                            <div>
                                <label for="content"></label>
                                <textarea name="content" id="content" cols="30" rows="10" class="w-100 p-1 rounded"
                                          placeholder="Votre mail..."></textarea>
                            </div>
                            <div class="mt-2">
                                <label for="files">Pièce jointe :</label>
                                <input type="file" name="files" id="files">
                            </div>
                            <input type="hidden" name="id" value="{{ choosenPatient.id }}">
                            <button type="submit" class="btn btn-primary mt-2 text-center float-right">Envoyer <i
                                        class="fas fa-check"></i></button>
                        </form>
                    </div>
                </div>
                <hr>

                <h2 class="text-center mt-5">Glycémie sur une semaine</h2>
                <div class="canvas">
                    <canvas id="glycemia"></canvas>
                </div>
            </div>

            <div class="col-3 overflow shadow-list" id="patient-list">
                {% include '/doctor/components/_patient_list.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ encore_entry_script_tags('glycemia') }}
{{ encore_entry_script_tags('ajaxValue') }}
<script>
    document.getElementById('toggle1').addEventListener('click', (e) => {
        document.getElementById('i1').classList.toggle('rotator')
    })
    document.getElementById('toggle2').addEventListener('click', (e) => {
        document.getElementById('i2').classList.toggle('rotator')
    })
</script>
{% endblock %}
