{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ patient.surname }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ patient.birthday ? patient.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ patient.weight }}</td>
            </tr>
            <tr>
                <th>LimitUp</th>
                <td>{{ patient.limitUp }}</td>
            </tr>
            <tr>
                <th>LimitDown</th>
                <td>{{ patient.limitDown }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ patient.createdAt ? patient.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
